@model IEnumerable<QuanLyKho.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.KhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.KhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            <a href="@Url.Action("Edit","CHITIETDONHANGs",new { id = item.MaCTDH})" class="btn btn-sm btn-success">Sửa</a>
            <a href="@Url.Action("Details","CHITIETDONHANGs",new { id = item.MaCTDH })" class="btn btn-sm btn-info">Chi tiết</a>
            <a href="@Url.Action("Delete","CHITIETDONHANGs",new { id = item.MaCTDH })" class="btn btn-sm btn-danger">Xóa</a>
        </td>
    </tr>
}

</table>
